<div class="footer">
    <div class="row">
        <div class="col-6">
            <div class="lambda">λTec</div>
        </div>
        <div class="col-2">
            <div class="footer-title">CONTACT</div>
            <div class="footer-text" routerLink="/contact">localização</div>
            <div class="footer-text" routerLink="/contact">mensagem</div>
            <a class="footer-text" target="_blank" href="https://www.facebook.com/">facebook</a>
        </div>
        <div class="col-2">
            <div class="footer-title">ABOUT</div>
            <div class="footer-text" routerLink="/about">história</div>
            <div class="footer-text" routerLink="/about">cultura</div>
            <div class="footer-text" routerLink="/about">análise</div>
        </div>
    </div>
</div>
