
<div class="bloco">

    <div class="textoPrimario pos-title">
        QUEM SOMOS?
    </div>
    <div class="row">
        <div class="col-4">
            <img class="circular img-pos-code" src="../../../assets/codigo.jpg">
        </div>
        <div class="textoTerceario col pos-text-first">
            Fundada em 2002, trabalhamos, analisando processos e sistemas de tamanhos grandes, médio e pequeno porte,
            aplicamos melhorias, de várias formas possíveis, resolvemos diversos tipos de problemas, seja eles relacionados
            ao desempenho da aplicação, inteligência artificial, segurança, usabilidade, e até mesmo quanto ao design.
        </div>
    </div>
</div>

<div class="bloco">
    <div class="textoSecundario titulo">
        Projetos
    </div>

    <div class="row">

        <div class="col textoTerceario">
            Web site responsivo.

            Site dinâmico construído com finalidade de identidade visual, com tema morderno e simples.
        </div>
        <div class="col pos-img">
            <img src="../../../assets/clickrh.png">
        </div>
    </div>

    <div class="row">

        <div class="col textoTerceario">
            Aplicativo.

            Desenvolvido pensando na usabilidade
        </div>
        <div class="col pos-img">
            <img src="../../../assets/ijob.png">
        </div>
    </div>

</div>
