<div class="textoPrimario pos-title">
    SOBRE NÓS
</div>
<div class="row">
    <div class="col-4">
        <img class="circular-predio img-pos-predio" src="../../../assets/predio.jpg">
    </div>
    <div class="col pos-text-first">
        <div class="textoSecundario">
            História
        </div>
        <div class="textoTerceario">
            Fundada em 2002 com a metodologia classica empresarial, fomos tomando formas de gestão modernas de maneira a se tornar um ambiente produtivo e flexível.
        </div>
    </div>
</div>

<div class="row">
    <div class="img-pos-code">
        <img class="code" src="../../../assets/codigo.jpg">
    </div>
    <div class="textoPrimario-code pos-text-code">CULTURA</div>
    <div class="textoTerceario-code pos-text-code">
        TOMAMOS COMO DIRETRIZ O CLEAN CODE, SEMPRE APLICAMOS BOAS PRÁTICAS DE DESENVOLVIMENTO.
        UTILIZAMOS O PATTERN ADEQUADO PARA CADA OCASIÃO.
    </div>
</div>


