<div class="pos-title-main">
    <div class="row bloco-1" >
        <div class="col lambda">λTec</div>
        <div class="col lambda-subtitle">
            O poder da tecnologia Versátil
        </div>
    </div>
</div>

<div class="pos-comentario textoPrimario">COMENTÁRIOS</div>

<div class="cards row">
    <div class="col">
        <img class="circular-img" src="../../../assets/pessoa3.jpg">
        <div class="name">
            CTO Pedro - IBM
        </div>
        <div class="text-card">
            O trabalho foi entregue dentro do prazo estipulado além de agilizar processos internos, melhorou nossa margem de lucro.
        </div>
    </div>

    <div class="col">
        <img class="circular-img" src="../../../assets/pessoa1.jpg">
        <div class="name">
            CEO Ane - FORK. System
        </div>

        <div class="text-card">
            Aumentou o desempenho do nosso sistema com agilidade e trabalho em equipe sem igual.
        </div>

    </div>

    <div class="col">

        <img class="circular-img" src="../../../assets/pessoa2.jpg">

        <div class="name">
            CEO Faraji - NWD
        </div>

        <div class="text-card">
            O projeto melhorou nossa produtividade, reforçou a segurança do nossos sistema e com o novo design ganhamos novos clientes.
        </div>

    </div>

</div>

<div class="ambiente">

    <img class="img" src="../../../assets/ambiente.jpg">

    <div class="text text-pos">
        SOMOS DEDICADOS PARA ENCONTRAR E SOLUCIONAR PROBLEMAS COM TECNOLOGIA.
        <br/>
        <button (click)="byAbout()" class="btn btn-warning text-button">NOSSO TRABALHO</button>
    </div>

</div>

<div class="tecnologias-pos textoPrimario">
    PRINCIPAIS TECNOLOGIAS
</div>

<div class="textoSecundario tilte-pos">
    Back End
</div>

  <div class="col">

    <div class="row">

      <div class="col">
        <img class="img-pos node" src="../../../assets/nodejs.jpg">
      </div>

      <div class="col">
        <div class="textoTerceario text-left">
          Nodejs para aplicações em tempo real, além da programação moderna com typescript e ORM sequelize.
          Des de acriação de sistemas com arquitetura monolítica, até a criação de micro serviços.
        </div>

      </div>

    </div>

  <div class="col">

    <div class="row">

      <div class="col">

        <div class="textoTerceario text-right">
            Cloud Firestore é a tecnologia perfeita para pequenos completos projetos, e consigo tem o poder da alta
            produtividade na criação do do back end, proporcionando um foco maior no estilo
            do site ou aplicativo.
        </div>

      </div>

      <div class="col">
        <img  class="circular img-pos firebase"  src="../../../assets/firestore.png">
      </div>

    </div>
  </div>

  <div class="textoSecundario tilte-pos">
    Front End
  </div>

  <div class="col">

    <div class="row">

      <div class="col">
        <img width="300" height="300" class="img-pos angular" src="../../../assets/angular.png">
      </div>

      <div class="col">

        <div class="textoTerceario text-left">
            Angular, um poderoso framework completo e moderno capaz de garantir qualidade do projeto seja app ou web site,
            garantindo produtividade e auxiliando nas diretrizes do clean code.
        </div>

      </div>

    </div>
    
  </div>
