
.circular-img {
    margin-right: 5%;
}

.pos-title-main {
    margin-left: 5%;
}

.pos-title-home {
    position: absolute;
    z-index: 2;
}

.bloco-1 {
    margin-bottom: 10%;
}

.main{
    width: 100%;
}
.pos-comentarios {
    margin-top: -10%;
}
.pos-comentario{
    margin-left: 5%;
    margin-bottom: 5%;
}

.cards {
    margin-right: 5%;
}

.title-pos {
    margin-left: 10%;
    margin-top: 5%;
}

.text-left {
    margin-top: 15%;
}

.text-right {
    margin-top: 20%;
}


.img-pos {
    margin-top: 5%;
}

.tecnologias-pos {
   margin-left: 5%;
   margin-top: 5%;
}


.python {
    margin-left: 30%;

    width: 40%;

    height: 100%;
}

.angular {
    margin-left: 15%;
}

.name {
    padding-left: 10%;
    padding-right: 10%;

    font-size: 14pt;
    font-weight: bold;
}

.text-card {
    padding-left: 5%;
    padding-right: 5%;

}

.circular-img {
    width: 300px;
    height: 300px;

    border-radius: 50%;
}

.ambiente {
    width: 100%;

    position: relative;

    margin-top: 10%;
    margin-bottom: 10%;
}



.ambiente .img {

    width: 100%;
}

.ambiente .text {

    z-index: 5;

    color: #444;
    font-size: 30pt;
    font-weight: bold;
    text-align: center;

    width: 50%;

    margin-left: 25%;

}

.ambiente .text-button {
    color: #444;

    font-size: 16pt;
    font-weight: bold;

    text-align: center;
}

.ambiente .text-pos {
    margin-top: -50%;
    margin-bottom: 45%;
}

.contact {
    width: 100%;

    padding-top: 5%;

    padding-left: 2.5%;

}
.icons {
    border-left: 0.1px solid #ddd;
}

.icon {
    font-size: 50pt;
    font-family: fantasy;
    color: #444;

    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;
}

.text-icon {
    margin-top: 5%;
    margin-left: 4%;
    font-size: 16pt;
}


.text-contato {

    text-align: center;

}

.contato-pos {
    margin-left: 5%;
    margin-top: 10%;
}
