@import "~bootstrap/dist/css/bootstrap.min.css";

.lambda {
    font-size:210pt;

    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */

}
.lambda-subtitle{

    font-size: 35pt;
    margin-top: 15%;
    margin-left: 20%;

    font-family: fantasy;

    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
}

.row {
  margin: 0;
  padding: 0;

  width: 100%;

}

div{
    box-shadow: none;
    border: none;
    outline: none;
}

body, html {

    margin: 0;

    padding: 0;

}

.bodyClass {

    width: 100%;
    height: 100%;

}
.textoPrimario{
    font-size: 40pt;
    font-family: fantasy;
    color: #444;
}
.textoSecundario {

    font-size: 35pt;
    font-weight: bold;
    font-family: inherit;

    color: #444;

}

.textoTerceario {
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30pt;

    color:#444;
}


a{
    color:rgb(226, 11, 47);
    text-decoration: none;
    font-family: fantasy;
    font-weight: bold;
}



.github {
    width: 24px;
    height: 24px;
}

.circular {

  width: 300px;
  height: 300px;

  margin-left: 10%;

  border-radius: 50%;

  transition: all 3s ease;
}

